
.Regist-Pop{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    visibility: hidden;
    display: none;
    opacity: 0;
    transform: .3s, .3s;
    
}

.Text-Regist{
    font-weight: bold;
    font-size: 32px;
}

.Bt-Regist-Close-Pop{
    background-color: none;
    border: none;
    font-size: 32px;

}

.Bt-Regist-Close-Pop:hover{
    transform: scale(1.1);
    
}

.Bt-Regist-Close-Pop:active{
    transform: scale(0.9);
    color: red;
}

input{
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 5px;
    border-bottom: 3px solid #555;
    outline:none;
    
}

input:focus{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid #555;
    outline:none;
}

.Regist-Pop.open{
    visibility: visible;
    opacity: 1;
    display: inline-block;
}

.Hint-User-Name-Regist{
    font-size: small;
    visibility: hidden;
    display: none;
    opacity: 0;
    transform: .3s, .3s;

}

.Hint-User-Name-Regist.open{
    visibility: visible;
    opacity: 1;
    display: block;
}

.User-Name-Not-Corecct-Regist{
    font-size: small;
    font-weight: bolder;
    color: red;
    visibility: hidden;
    display: none;
    opacity: 0;
    transform: .3s, .3s;

}

.User-Name-Not-Corecct-Regist.open{
    visibility: visible;
    opacity: 1;
    display: block;
}

.Hint-User-Email-Regist{
    font-size: small;
    visibility: hidden;
    display: none;
    opacity: 0;
    transform: .3s, .3s;
}

.Hint-User-Email-Regist.open{
    visibility: visible;
    opacity: 1;
    display: block; 
}

.User-Email-Not-Corecct-Regist{
    font-size: small;
    font-weight: bolder;
    color: red;
    visibility: hidden;
    display: none;
    opacity: 0;
    transform: .3s, .3s; 
}

.User-Email-Not-Corecct-Regist.open{
    visibility: visible;
    opacity: 1; 
    display: block; 
}

.Hint-User-Password-Regist{
    font-size: small;
    visibility: hidden;
    display: none;
    opacity: 0;
    transform: .3s, .3s;
}

.Hint-User-Password-Regist.open{
    visibility: visible;
    opacity: 1;  
    display: block;
}

.User-Password-Not-Corecct-Regist{
    font-size: small;
    font-weight: bolder;
    color: red;
    visibility: hidden;
    display: none;
    opacity: 0;
    transform: .3s, .3s;
}

.User-Password-Not-Corecct-Regist.open{
    visibility: visible;
    opacity: 1;  
    display: block; 
}

.Hint-User-Repit-Password-Regist{
    font-size: small;
    visibility: hidden;
    display: none;
    opacity: 0;
    transform: .3s, .3s;
}

.Hint-User-Repit-Password-Regist.open{
    visibility: visible;
    opacity: 1;
    display: block;
}

.User-Repit-Password-Not-Corecct-Regist{
    font-size: small;
    font-weight: bolder;
    color: red;
    visibility: hidden;
    display: none;
    opacity: 0;
    transform: .3s, .3s;
}

.User-Repit-Password-Not-Corecct-Regist.open{
    visibility: visible;
    opacity: 1;
    display: block;
}

.Login-Pop{
    visibility: hidden;
    display: none;
    opacity: 0;
    transform: .3s, .3s;
}

.Login-Pop.open{
    visibility: visible;
    opacity: 1;
    display: block; 
}

.Bt-Regit-User{
    font-size: 16px;

}

.Bt-Regit-User:hover{
    transform: scale(1.1);
}

.Bt-Regit-User:active{
    transform: scale(0.9);

}